<div class="logo-wrapper size-{{ size() }}">
    <svg viewBox="0 0 100 100" class="logo-svg" xmlns="http://www.w3.org/2000/svg">
        <path d="M 10 20 H 90 L 70 40 H 50 V 60 L 30 80 V 40 H 10 Z" class="logo-t" />
        <path d="M 38 80 L 52 66 V 80 Z" class="logo-bar" />
        <path d="M 57 80 V 61 L 71 47 V 80 Z" class="logo-bar" />
        <path d="M 76 80 V 42 L 90 28 V 80 Z" class="logo-bar" />
    </svg>

    @if (showText()) {
    <div class="logo-text-container">
        <span class="logo-title">Trade<span class="logo-accent">Sim</span></span>
        <span class="logo-tagline">YOUR MARKET SANDBOX</span>
    </div>
    }
</div>