.allocation {
  &__title {
    margin: 0 0 24px 0;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 280px;
    max-width: 100%;
    overflow: hidden;
  }
}
