<span class="price-indicator" [class]="'price-indicator--' + sign()">
    @if (shouldShowArrow()) {
    <svg class="price-indicator__arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
        stroke="currentColor" stroke-width="1.25" stroke-linejoin="round" aria-hidden="true">
        <path
            d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5Z" />
    </svg>
    }
    <span class="price-indicator__value">{{ formattedValue() }}</span>
    @if (shouldShowPercentage()) {
    <span class="price-indicator__percentage">({{ formattedPercentage() }})</span>
    }
</span>